@page "/admin-dashboard"
@attribute [Authorize]

<h3 class="mb-4">Admin Dashboard</h3>

<div class="row">
    <div class="col-12 mb-4">
        <ManageHomePageContent />
    </div>
    <div class="col-12 mb-4">
        <ManageServices />
    </div>
    <div class="col-12 mb-4">
        <ManageSpecialOffers />
    </div>
    <div class="col-12 mb-4">
        <ManageMessages />
    </div>
    <div class="col-12">
        <ManageUsers />
    </div>
    <div class="col-12 mb-4">
        <ManageColors />
    </div>
</div>