@page "/admin-dashboard"
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer

<h3 class="mb-4">Admin Dashboard</h3>

<div class="row">
    <div class="col-12">
        <ManageServices />
    </div>
</div>