@inherits LayoutComponentBase

<PageTitle>NEPlumbingInc.UI</PageTitle>

<style>
    .admin-login-link a {
        font-size: 16px;
        font-weight: bold;
        color: #007bff;
        text-decoration: none;
    }

    .admin-login-link a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

</style>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>