@page "/account/logout"
@inject NavigationManager Navigation

<div class="=text-center">
    <h1>Signing out...</h1>
    <div class="spinner-border mt-3" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("/Auth/Logout", forceLoad: true);
    }
}