@page "/admin-logout"
@inject NavigationManager NavigationManager
@inject CustomAuthenticationStateProvider AuthenticationStateProvider
@inject IAuthenticationService AuthenticationService

<h3>Logging out...</h3>

@code {
    protected override Task OnInitializedAsync()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
        NavigationManager.NavigateTo("/admin-login", forceLoad: true);
        return Task.CompletedTask;
    }
}